# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# debug
yarn-error.log*
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*

.env*

## typescript
next-env.d.ts
*.tsbuildinfo
